<h2>Statistiques</h2>
<ng-container *ngIf="(annualBreedsData$ | async)?.datasets; else loadingTemplate">
  <h3>Races</h3>
  <app-chart [data]="annualBreedsData$ | async"
             [options]="annualBreedsOptions$ | async"></app-chart>
</ng-container>

<ng-template #loadingTemplate>
  <app-loading></app-loading>
</ng-template>

<ng-container *ngIf="(annualRevenueData$ | async)?.datasets; else loadingTemplate">
  <h3>Revenu</h3>
  <app-chart [data]="annualRevenueData$ | async"
             [options]="annualRevenueOptions$ | async"></app-chart>
</ng-container>