<h2>OSTEOPRATIK</h2>
<mat-card>
  <mat-card-subtitle>Bienvenue sur l’application Ostéopratik.</mat-card-subtitle>
  <p>
    Cette application a été développée en partenariat avec des ostéopathes animaliers dans le but de faciliter le suivi des consultations
    et de la facturation.
  </p>
  <p>Ci dessous, une vidéo de démonstration partielle de l'application.</p>
  <div class="youtube-player">
    <iframe width="320"
            height="180"
            src="https://www.youtube.com/embed/5TMnCeMaDP0"
            frameborder="0"
            allowfullscreen></iframe>
  </div>
  <p>
    Pour de plus amples informations, n’hésitez pas à
    <a href="mailto:malika.bolle.osteopratik@gmail.com">nous contacter</a>.
  </p>
</mat-card>