<mat-card>
  <mat-card-title>Inscription</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form"
          (ngSubmit)="signUp(form.value)"
          fxLayoutGap="16px"
          fxLayout="column">

      <div fxFlex="1 1 auto"
           fxLayout="row"
           fxLayout.xs="column"
           fxLayoutGap="12px"
           fxLayoutGap.xs="16px"
           fxLayoutAlign="start center">

        <mat-form-field fxFlex="1 1 auto">
          <input matInput
                 formControlName="email"
                 placeholder="Email"
                 type="email">
        </mat-form-field>
      </div>

      <div fxFlex="1 1 auto"
           fxLayout="row"
           fxLayout.xs="column"
           fxLayoutGap="12px"
           fxLayoutGap.xs="16px"
           fxLayoutAlign="start center">
        <mat-form-field fxFlex="1 1 auto">
          <input matInput
                 formControlName="password"
                 placeholder="Mot de passe"
                 type="password">
        </mat-form-field>

        <mat-form-field fxFlex="1 1 auto">
          <input matInput
                 formControlName="passwordConfirmation"
                 placeholder="Confirmer le mot de passe"
                 type="password">
        </mat-form-field>
      </div>

      <div fxLayout
           fxLayoutAlign="end center"
           fxLayoutAlign.xs="center center">
        <button fxFlex.xs="1 1 100%"
                fxFlex="0 0 auto"
                mat-raised-button
                color="primary"
                [disabled]="form.invalid || form.pristine"
                type="submit">S'INSCRIRE</button>
      </div>
    </form>

  </mat-card-content>
</mat-card>