<div fxLayout
     fxLayoutAlign="start center"
     fxLayoutGap="12px">
  <h2>Clients</h2>
  <span fxFlex></span>
  <a mat-fab
     [routerLink]="['add']"
     color="primary"
     matTooltip="Ajouter un client"
     matTooltipPosition="left">
    <mat-icon>add</mat-icon>
  </a>
</div>
<div fxLayout
     fxLayoutGap="12px"
     fxLayoutAlign="start center">
  <mat-form-field fxFlex="40%">
    <mat-select #fieldRef
                placeholder="Champ à filtrer"
                (change)="handleFilterTypeChange($event)">
      <mat-option *ngFor="let field of filterableFields"
                  [value]="field[0]">{{field[1]}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field fxFlex="60%">
    <input matInput
           #filterRef
           type="text"
           placeholder="Filtre"
           [disabled]="!fieldRef.selected">
    <button mat-icon-button
            matSuffix
            #filterResetRef
            [disabled]="filterRef.value === ''">
             <mat-icon>clear</mat-icon>
           </button>
  </mat-form-field>

</div>

<div class="mat-elevation-z4">
  <mat-table [dataSource]="dataSource"
             matSort
             matSortActive="name"
             matSortDisableClear
             matSortDirection="asc">

    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef
                       [style.minWidth.px]="140"
                       mat-sort-header> Nom </mat-header-cell>
      <mat-cell *cdkCellDef="let row"
                [style.minWidth.px]="140"> {{row.firstName}} {{row.lastName}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="company">
      <mat-header-cell *cdkHeaderCellDef
                       [ngStyle]="{'min-width': '50px' }"
                       [ngStyle.gt-sm]="{'min-width': '140px' }"
                       mat-sort-header> Entreprise </mat-header-cell>
      <mat-cell *cdkCellDef="let row"
                [ngStyle]="{'min-width': '50px' }"
                [ngStyle.gt-sm]="{'min-width': '140px' }">
        {{row.company}}
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="tel">
      <mat-header-cell *cdkHeaderCellDef
                       [ngStyle]="{'min-width': '50px' }"
                       [ngStyle.gt-sm]="{'min-width': '140px' }"
                       mat-sort-header> Tel. </mat-header-cell>
      <mat-cell *cdkCellDef="let row"
                [ngStyle]="{'min-width': '50px' }"
                [ngStyle.gt-sm]="{'min-width': '140px' }">
        <ng-container *ngIf="isMobile$ | async; let isMobile; else telDesktopTemplate">
          <a mat-icon-button
             href="tel:{{row.tel}}">
            <mat-icon>phone</mat-icon>
          </a>
        </ng-container>
        <ng-template #telDesktopTemplate>
          {{row.tel}}
        </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="email">
      <mat-header-cell *cdkHeaderCellDef
                       [ngStyle]="{'min-width': '50px' }"
                       [ngStyle.gt-sm]="{'min-width': '220px' }"
                       mat-sort-header> Email </mat-header-cell>
      <mat-cell *cdkCellDef="let row"
                [ngStyle]="{'min-width': '50px' }"
                [ngStyle.gt-sm]="{'min-width': '220px' }">
        <ng-container *ngIf="isMobile$ | async; let isMobile; else emailDesktopTemplate">
          <a mat-icon-button
             href="mailto:{{row.email}}">
            <mat-icon>mail</mat-icon>
          </a>
        </ng-container>
        <ng-template #emailDesktopTemplate>
          {{row.email}}
        </ng-template>
      </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="details">
      <mat-header-cell *cdkHeaderCellDef
                       [style.maxWidth.px]="50"
                       [style.minWidth.px]="50"> Détails </mat-header-cell>
      <mat-cell *cdkCellDef="let row"
                [style.maxWidth.px]="50"
                [style.minWidth.px]="50">
        <a mat-icon-button
           color="primary"
           [routerLink]="['../../../customer', row.$key]">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </a>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="fields"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: fields;"></mat-row>
  </mat-table>
  <mat-paginator [length]="dataSource.length$$ | async"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>

<div class="mat-elelvation-z4"
     [fxShow]="!!(share$ | async).length">
  <h3>En attente de transfert</h3>
  <mat-table [dataSource]="shareDataSource"
             matSort
             matSortActive="name"
             matSortDisableClear
             matSortDirection="asc">

    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef
                       [style.minWidth.px]="140"
                       mat-sort-header> Nom </mat-header-cell>
      <mat-cell *cdkCellDef="let row"
                [style.minWidth.px]="140"> {{row.firstName}} {{row.lastName}} </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="action">
      <mat-header-cell *cdkHeaderCellDef
                       [style.maxWidth.px]="50"
                       [style.minWidth.px]="50"> Transférer </mat-header-cell>
      <mat-cell *cdkCellDef="let row"
                [style.maxWidth.px]="50"
                [style.minWidth.px]="50">
        <button mat-icon-button
                color="primary"
                (click)="transferCustomer(row.$key)">
        <mat-icon>done</mat-icon>
      </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="['name', 'action']"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: ['name', 'action'];"></mat-row>
  </mat-table>
</div>